body {
    width: 400px;
    height: 350px;
    background-color: rgb(1, 4, 9);
}

.tools {
    margin-left: 10px;
    
}

#note-form-btn, #remove-all-btn {
    background-color: transparent;
    border: none;
    color: rgb(240, 246, 252);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 400;   
}

.tools button:hover {
    background-color: rgba(101, 108, 118, 0.2);
}

.new-note, .edit-note {
    display: none;
}